In [1]:
import pandas
atletas_2016 = pandas.read_csv("datasets/2016_atletas.csv")
clubes_2016 = pandas.read_csv("datasets/2016_clubes.csv")
scout_2016 = pandas.read_csv("datasets/2016_scouts.csv")

status = pandas.read_csv("datasets/status.csv")
posicoes = pandas.read_csv("datasets/posicoes.csv")
pontuacao = pandas.read_csv("datasets/pontuacao.csv")

In [2]:
print(scout_2016.columns)

Index(['atleta_id', 'rodada', 'clube_id', 'participou', 'pontos_num',
       'media_num', 'preco_num', 'variacao_num', 'FS', 'PE', 'A', 'FT', 'FD',
       'FF', 'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP',
       'GS'],
      dtype='object')

In [3]:
print(atletas_2016.columns)

Index(['id', 'apelido', 'clube_id', 'posicao_id'], dtype='object')

In [4]:
scouts = scout_2016[['atleta_id','clube_id', 'rodada','pontos_num', 'preco_num']]

In [5]:
soma_pontos = scouts.groupby(['atleta_id']).pontos_num.sum()

In [6]:
soma_pontos.sort_values(ascending=False)[:10]

atleta_id
68952    211.0
62121    189.3
87863    183.7
88065    176.7
87552    171.8
86485    169.4
68911    167.0
87999    164.3
50284    164.2
71892    157.9
Name: pontos_num, dtype: float64

In [7]:
soma_pontos.sort_values()[:10]

atleta_id
86754   -8.8
84847   -7.9
71724   -7.6
86527   -6.8
37917   -6.5
82613   -6.2
37788   -5.9
78151   -5.4
82403   -4.6
71719   -4.2
Name: pontos_num, dtype: float64

In [8]:
soma = pandas.DataFrame(pandas.Series(soma_pontos))

In [9]:
soma.head()

           pontos_num
atleta_id
36540            32.3
36591             0.0
36612            81.4
36650            48.3
36856            32.0

In [10]:
atletas = atletas_2016[['id', 'apelido']]

In [11]:
atletas.head()

      id       apelido
0  89258        Daniel
1  68873  Paulo Victor
2  79066  Alex Muralha
3  91194        Thiago
4  38109     Jefferson

In [12]:
result_top_10 = pandas.DataFrame(columns =  ["Nome","Time","Posição", "Soma"])

In [13]:
def atleta_completo(id):
    for row in atletas_2016.iterrows():
        ide=row[1]['id']
        pos = row[1]['posicao_id']
        if ide == id:
            nome = row[1]['apelido']
            clube_ide = row[1]['clube_id']
            for row_clube in clubes_2016.iterrows():
                if clube_ide == row_clube[1]['id']:
                    clube_nome = row_clube[1]['nome']
            for row_pos in posicoes.iterrows():
                if pos == row_pos[1]['id']:
                    posicao = row_pos[1]['nome']
    return[nome, clube_nome, posicao]

In [14]:
for row in atletas.iterrows():
    ide=row[1]['id']
    for row_soma in soma_pontos.iteritems():
        soma = row_soma[1]
        if ide == row_soma[0]:
            atleta = atleta_completo(ide)
            nome_atleta = atleta[0]
            clube_atleta = atleta[1]
            posicao = atleta[2]
            list1 = [nome_atleta,clube_atleta,posicao, soma] 
            result_top_10.loc[len(result_top_10)] = list1

In [15]:
result_top_10.sort_values(by='Soma',ascending=False)[:10]

                 Nome        Time   Posição   Soma
856           Marinho     Vitória  Atacante  211.0
29          Vanderlei      Santos   Goleiro  189.3
523        Arrascaeta    Cruzeiro      Meia  183.7
99              Jorge    Flamengo   Lateral  176.7
483       Vitor Bueno      Santos      Meia  171.8
951              Keno  Santa Cruz  Atacante  169.4
590       Diego Souza       Sport      Meia  167.0
441    Gustavo Scarpa  Fluminense      Meia  164.3
72             Wilson    Coritiba   Goleiro  164.2
120  Wellington Silva  Fluminense   Lateral  157.9

In [16]:
result_top_10.sort_values(by='Soma')[:10]

                 Nome           Time   Posição  Soma
550  Guilherme Amorim         Grêmio      Meia  -8.8
385       Luan Peres      Santa Cruz  Zagueiro  -7.9
64             Agenor          Sport   Goleiro  -7.6
721  Wellington Cézar     Santa Cruz      Meia  -6.8
486             Elano         Santos      Meia  -6.5
315        Alan Costa  Internacional  Zagueiro  -6.2
82      Marcelo Boeck    Chapecoense   Goleiro  -5.9
21             Vagner      Palmeiras   Goleiro  -5.4
243     César Martins       Flamengo  Zagueiro  -4.6
643             Elton    Ponte Preta      Meia  -4.2

In [37]:
def top10_posicao(data, posicao):
    top = data['Posição'] == posicao
    top10 = data[top].sort_values(by='Soma', ascending=False)[:10]
    return top10

In [40]:
meia = top10_posicao(result_top_10, "Meia")

In [44]:
for row_pos in posicoes.iterrows():
    posicao = row_pos[1]['nome']
    top10 = top10_posicao(result_top_10, posicao)
    print(top10)
    print('*'*80)

                Nome           Time  Posição   Soma
29         Vanderlei         Santos  Goleiro  189.3
72            Wilson       Coritiba  Goleiro  164.2
2       Alex Muralha       Flamengo  Goleiro  153.0
5              Sidão       Botafogo  Goleiro  146.1
84            Danilo    Chapecoense  Goleiro  130.5
26             Denis      São Paulo  Goleiro  126.9
52  Danilo Fernandes  Internacional  Goleiro  117.7
65            Magrão          Sport  Goleiro  113.9
44     Marcelo Grohe         Grêmio  Goleiro  107.8
66          Weverton    Atlético-PR  Goleiro  106.2
********************************************************************************
                 Nome           Time  Posição   Soma
99              Jorge       Flamengo  Lateral  176.7
120  Wellington Silva     Fluminense  Lateral  157.9
112            Fagner    Corinthians  Lateral  145.5
171       Diego Renan        Vitória  Lateral  138.0
199          Reinaldo    Ponte Preta  Lateral  129.8
138     Victor Ferraz         Santos  Lateral  128.0
101              Pará       Flamengo  Lateral  115.6
105       Victor Luis       Botafogo  Lateral  113.6
185               Léo    Atlético-PR  Lateral  112.9
163           William  Internacional  Lateral  109.3
********************************************************************************
               Nome           Time   Posição   Soma
303   Pedro Geromel         Grêmio  Zagueiro  154.0
347         Juninho       Coritiba  Zagueiro  144.7
247  Emerson Santos       Botafogo  Zagueiro  121.4
242           Réver       Flamengo  Zagueiro  118.3
340   Thiago Heleno    Atlético-PR  Zagueiro  114.8
360          Thiego    Chapecoense  Zagueiro  113.5
273          Maicon      São Paulo  Zagueiro  107.1
264      Vitor Hugo      Palmeiras  Zagueiro  101.6
312         Ernando  Internacional  Zagueiro  101.1
299   Bruno Rodrigo       Cruzeiro  Zagueiro   94.2
********************************************************************************
               Nome         Time Posição   Soma
523      Arrascaeta     Cruzeiro    Meia  183.7
483     Vitor Bueno       Santos    Meia  171.8
590     Diego Souza        Sport    Meia  167.0
441  Gustavo Scarpa   Fluminense    Meia  164.3
398    Willian Arão     Flamengo    Meia  156.2
455          Moisés    Palmeiras    Meia  134.6
526        Henrique     Cruzeiro    Meia  134.5
468   Thiago Mendes    São Paulo    Meia  127.6
624            Juan     Coritiba    Meia  125.1
507    Júnior Urso   Atlético-MG    Meia  121.9
********************************************************************************
                Nome         Time   Posição   Soma
856          Marinho      Vitória  Atacante  211.0
951             Keno   Santa Cruz  Atacante  169.4
768    Gabriel Jesus    Palmeiras  Atacante  153.3
806          Robinho  Atlético-MG  Atacante  147.4
773             Dudu    Palmeiras  Atacante  142.4
900  William Pottker  Ponte Preta  Atacante  141.2
804             Fred  Atlético-MG  Atacante  141.0
798           Copete       Santos  Atacante  124.9
866          Rogério        Sport  Atacante  118.6
783            Cueva    São Paulo  Atacante  117.4
********************************************************************************
                    Nome         Time  Posição    Soma
954           Zé Ricardo     Flamengo  Técnico  150.98
968       Dorival Júnior       Santos  Técnico  148.83
963                 Cuca    Palmeiras  Técnico  139.92
969     Marcelo Oliveira  Atlético-MG  Técnico  136.43
965        Ricardo Gomes    São Paulo  Técnico  115.57
982        Paulo Autuori  Atlético-PR  Técnico  113.43
961          Levir Culpi   Fluminense  Técnico  111.41
959  Oswaldo de Oliveira  Corinthians  Técnico  107.13
979          Argel Fucks      Vitória  Técnico  106.46
986     Eduardo Baptista  Ponte Preta  Técnico   99.18
********************************************************************************