In [2]:
import pandas
atletas_2016 = pandas.read_csv("datasets/2016_atletas.csv")
clubes_2016 = pandas.read_csv("datasets/2016_clubes.csv")
scout_2016 = pandas.read_csv("datasets/2016_scouts.csv")

status = pandas.read_csv("datasets/status.csv")
posicoes = pandas.read_csv("datasets/posicoes.csv")
pontuacao = pandas.read_csv("datasets/pontuacao.csv")

In [3]:
print(scout_2016.columns)

Index(['atleta_id', 'rodada', 'clube_id', 'participou', 'pontos_num',
       'media_num', 'preco_num', 'variacao_num', 'FS', 'PE', 'A', 'FT', 'FD',
       'FF', 'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP',
       'GS'],
      dtype='object')

In [4]:
print(atletas_2016.columns)

Index(['id', 'apelido', 'clube_id', 'posicao_id'], dtype='object')

In [5]:
scouts = scout_2016[['atleta_id','clube_id','participou', 'rodada','pontos_num', 'preco_num']]

In [6]:
soma_pontos = scouts.groupby(['atleta_id']).pontos_num.sum()

In [7]:
soma_pontos.sort_values(ascending=False)[:10]

atleta_id
68952    211.0
62121    189.3
87863    183.7
88065    176.7
87552    171.8
86485    169.4
68911    167.0
87999    164.3
50284    164.2
71892    157.9
Name: pontos_num, dtype: float64

In [8]:
soma_pontos.sort_values()[:10]

atleta_id
86754   -8.8
84847   -7.9
71724   -7.6
86527   -6.8
37917   -6.5
82613   -6.2
37788   -5.9
78151   -5.4
82403   -4.6
71719   -4.2
Name: pontos_num, dtype: float64

In [9]:
soma = pandas.DataFrame(pandas.Series(soma_pontos))

In [10]:
soma.head()

           pontos_num
atleta_id
36540            32.3
36591             0.0
36612            81.4
36650            48.3
36856            32.0

In [33]:
atletas_completo = pandas.DataFrame(columns =  ["ID","Nome","Time","Posição",])

In [34]:
for row in atletas_2016.iterrows():
    
    ide=row[1]['id']
    pos = row[1]['posicao_id']
    nome = row[1]['apelido']
    clube_ide = row[1]['clube_id']
    for row_clube in clubes_2016.iterrows():
        if clube_ide == row_clube[1]['id']:
            clube_nome = row_clube[1]['nome']
    for row_pos in posicoes.iterrows():
        if pos == row_pos[1]['id']:
            posicao = row_pos[1]['nome']
    lista1 = [ide, nome, clube_nome, posicao] 
    atletas_completo.loc[len(atletas_completo)] = lista1

In [35]:
atletas_completo.head()

      ID          Nome      Time  Posição
0  89258        Daniel  Flamengo  Goleiro
1  68873  Paulo Victor  Flamengo  Goleiro
2  79066  Alex Muralha  Flamengo  Goleiro
3  91194        Thiago  Flamengo  Goleiro
4  38109     Jefferson  Botafogo  Goleiro

In [ ]:
atletas = atletas_2016[['id', 'apelido']]

In [11]:
atletas.head()

      id       apelido
0  89258        Daniel
1  68873  Paulo Victor
2  79066  Alex Muralha
3  91194        Thiago
4  38109     Jefferson

In [12]:
result_top_10 = pandas.DataFrame(columns =  ["Nome","Time","Posição","Partidas Jogadas", "Soma"])

In [28]:
def atleta_completo(id):
    for row in atletas_2016.iterrows():
        ide=row[1]['id']
        pos = row[1]['posicao_id']
        jogos = 0
        if ide == id:
            nome = row[1]['apelido']
            clube_ide = row[1]['clube_id']
            for row_clube in clubes_2016.iterrows():
                if clube_ide == row_clube[1]['id']:
                    clube_nome = row_clube[1]['nome']
            for row_pos in posicoes.iterrows():
                if pos == row_pos[1]['id']:
                    posicao = row_pos[1]['nome']
            for row_scouts in scouts.iterrows():
                if ide == row_scouts[1]['atleta_id']:
                    if row_scouts[1]['participou']== True:
                        jogos = jogos + 1 
                
    return[nome, clube_nome, posicao, jogos]

In [29]:
for row in atletas.iterrows():
    ide=row[1]['id']
    for row_soma in soma_pontos.iteritems():
        soma = row_soma[1]
        if ide == row_soma[0]:
            atleta = atleta_completo(ide)
            nome_atleta = atleta[0]
            clube_atleta = atleta[1]
            posicao = atleta[2]
            jogos = atleta[3]
            list1 = [nome_atleta,clube_atleta,posicao, jogos, soma] 
            result_top_10.loc[len(result_top_10)] = list1

In [30]:
result_top_10.sort_values(by='Soma',ascending=False)[:10]

            Nome      Time   Posição Partidas Jogadas   Soma
1975     Marinho   Vitória  Atacante                0  211.0
974      Marinho   Vitória  Atacante                0  211.0
29     Vanderlei    Santos   Goleiro                0  189.3
147    Vanderlei    Santos   Goleiro                0  189.3
1148   Vanderlei    Santos   Goleiro                0  189.3
1642  Arrascaeta  Cruzeiro      Meia                0  183.7
641   Arrascaeta  Cruzeiro      Meia                0  183.7
1218       Jorge  Flamengo   Lateral                0  176.7
217        Jorge  Flamengo   Lateral                0  176.7
99         Jorge  Flamengo   Lateral                0  176.7

In [31]:
result_top_10.sort_values(by='Soma')[:10]

                  Nome        Time   Posição Partidas Jogadas  Soma
668   Guilherme Amorim      Grêmio      Meia                0  -8.8
1669  Guilherme Amorim      Grêmio      Meia                0  -8.8
1504       Luan Peres   Santa Cruz  Zagueiro                0  -7.9
503        Luan Peres   Santa Cruz  Zagueiro                0  -7.9
64              Agenor       Sport   Goleiro                0  -7.6
182             Agenor       Sport   Goleiro                0  -7.6
1183            Agenor       Sport   Goleiro                0  -7.6
839   Wellington Cézar  Santa Cruz      Meia                0  -6.8
1840  Wellington Cézar  Santa Cruz      Meia                0  -6.8
1605             Elano      Santos      Meia                0  -6.5

In [32]:
def top10_posicao(data, posicao):
    top = data['Posição'] == posicao
    top10 = data[top].sort_values(by='Soma', ascending=False)[:10]
    return top10

In [33]:
meia = top10_posicao(result_top_10, "Meia")

In [34]:
for row_pos in posicoes.iterrows():
    posicao = row_pos[1]['nome']
    top10 = top10_posicao(result_top_10, posicao)
    print(top10)
    print('*'*80)

              Nome      Time  Posição Partidas Jogadas   Soma
1148     Vanderlei    Santos  Goleiro                0  189.3
147      Vanderlei    Santos  Goleiro                0  189.3
29       Vanderlei    Santos  Goleiro                0  189.3
190         Wilson  Coritiba  Goleiro                0  164.2
1191        Wilson  Coritiba  Goleiro                0  164.2
72          Wilson  Coritiba  Goleiro                0  164.2
1121  Alex Muralha  Flamengo  Goleiro                0  153.0
2     Alex Muralha  Flamengo  Goleiro                0  153.0
120   Alex Muralha  Flamengo  Goleiro                0  153.0
5            Sidão  Botafogo  Goleiro                0  146.1
********************************************************************************
                  Nome         Time  Posição Partidas Jogadas   Soma
217              Jorge     Flamengo  Lateral                0  176.7
99               Jorge     Flamengo  Lateral                0  176.7
1218             Jorge     Flamengo  Lateral                0  176.7
238   Wellington Silva   Fluminense  Lateral                0  157.9
1239  Wellington Silva   Fluminense  Lateral                0  157.9
112             Fagner  Corinthians  Lateral                0  145.5
230             Fagner  Corinthians  Lateral                0  145.5
1231            Fagner  Corinthians  Lateral                0  145.5
1290       Diego Renan      Vitória  Lateral                0  138.0
289        Diego Renan      Vitória  Lateral                0  138.0
********************************************************************************
                Nome         Time   Posição Partidas Jogadas   Soma
1422   Pedro Geromel       Grêmio  Zagueiro                0  154.0
421    Pedro Geromel       Grêmio  Zagueiro                0  154.0
465          Juninho     Coritiba  Zagueiro                0  144.7
1466         Juninho     Coritiba  Zagueiro                0  144.7
1366  Emerson Santos     Botafogo  Zagueiro                0  121.4
365   Emerson Santos     Botafogo  Zagueiro                0  121.4
1361           Réver     Flamengo  Zagueiro                0  118.3
360            Réver     Flamengo  Zagueiro                0  118.3
1459   Thiago Heleno  Atlético-PR  Zagueiro                0  114.8
458    Thiago Heleno  Atlético-PR  Zagueiro                0  114.8
********************************************************************************
                Nome        Time Posição Partidas Jogadas   Soma
1642      Arrascaeta    Cruzeiro    Meia                0  183.7
641       Arrascaeta    Cruzeiro    Meia                0  183.7
601      Vitor Bueno      Santos    Meia                0  171.8
1602     Vitor Bueno      Santos    Meia                0  171.8
708      Diego Souza       Sport    Meia                0  167.0
1709     Diego Souza       Sport    Meia                0  167.0
559   Gustavo Scarpa  Fluminense    Meia                0  164.3
1560  Gustavo Scarpa  Fluminense    Meia                0  164.3
516     Willian Arão    Flamengo    Meia                0  156.2
1517    Willian Arão    Flamengo    Meia                0  156.2
********************************************************************************
               Nome         Time   Posição Partidas Jogadas   Soma
974         Marinho      Vitória  Atacante                0  211.0
1975        Marinho      Vitória  Atacante                0  211.0
2070           Keno   Santa Cruz  Atacante                0  169.4
1069           Keno   Santa Cruz  Atacante                0  169.4
1887  Gabriel Jesus    Palmeiras  Atacante                0  153.3
886   Gabriel Jesus    Palmeiras  Atacante                0  153.3
1925        Robinho  Atlético-MG  Atacante                0  147.4
924         Robinho  Atlético-MG  Atacante                0  147.4
1892           Dudu    Palmeiras  Atacante                0  142.4
891            Dudu    Palmeiras  Atacante                0  142.4
********************************************************************************
                  Nome         Time  Posição Partidas Jogadas    Soma
1072        Zé Ricardo     Flamengo  Técnico                0  150.98
2073        Zé Ricardo     Flamengo  Técnico                0  150.98
2087    Dorival Júnior       Santos  Técnico                0  148.83
1086    Dorival Júnior       Santos  Técnico                0  148.83
2082              Cuca    Palmeiras  Técnico                0  139.92
1081              Cuca    Palmeiras  Técnico                0  139.92
2088  Marcelo Oliveira  Atlético-MG  Técnico                0  136.43
1087  Marcelo Oliveira  Atlético-MG  Técnico                0  136.43
1083     Ricardo Gomes    São Paulo  Técnico                0  115.57
2084     Ricardo Gomes    São Paulo  Técnico                0  115.57
********************************************************************************