In [2]:
import pandas
atletas_2016 = pandas.read_csv("datasets/2016_atletas.csv")
clubes_2016 = pandas.read_csv("datasets/2016_clubes.csv")
scout_2016 = pandas.read_csv("datasets/2016_scouts.csv")

status = pandas.read_csv("datasets/status.csv")
posicoes = pandas.read_csv("datasets/posicoes.csv")
pontuacao = pandas.read_csv("datasets/pontuacao.csv")

In [3]:
print(scout_2016.columns)

Index(['atleta_id', 'rodada', 'clube_id', 'participou', 'pontos_num',
       'media_num', 'preco_num', 'variacao_num', 'FS', 'PE', 'A', 'FT', 'FD',
       'FF', 'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP',
       'GS'],
      dtype='object')

In [4]:
print(atletas_2016.columns)

Index(['id', 'apelido', 'clube_id', 'posicao_id'], dtype='object')

In [5]:
scouts = scout_2016[['atleta_id','clube_id','participou', 'rodada','pontos_num', 'preco_num']]

In [6]:
soma_pontos = scouts.groupby(['atleta_id']).pontos_num.sum()

In [7]:
soma_pontos.sort_values(ascending=False)[:10]

atleta_id
68952    211.0
62121    189.3
87863    183.7
88065    176.7
87552    171.8
86485    169.4
68911    167.0
87999    164.3
50284    164.2
71892    157.9
Name: pontos_num, dtype: float64

In [8]:
soma_pontos.sort_values()[:10]

atleta_id
86754   -8.8
84847   -7.9
71724   -7.6
86527   -6.8
37917   -6.5
82613   -6.2
37788   -5.9
78151   -5.4
82403   -4.6
71719   -4.2
Name: pontos_num, dtype: float64

In [9]:
soma = pandas.DataFrame(pandas.Series(soma_pontos))

In [10]:
soma.head()

           pontos_num
atleta_id
36540            32.3
36591             0.0
36612            81.4
36650            48.3
36856            32.0

In [33]:
atletas_completo = pandas.DataFrame(columns =  ["ID","Nome","Time","Posição",])

In [34]:
for row in atletas_2016.iterrows():
    ide=row[1]['id']
    pos = row[1]['posicao_id']
    nome = row[1]['apelido']
    clube_ide = row[1]['clube_id']
    for row_clube in clubes_2016.iterrows():
        if clube_ide == row_clube[1]['id']:
            clube_nome = row_clube[1]['nome']
    for row_pos in posicoes.iterrows():
        if pos == row_pos[1]['id']:
            posicao = row_pos[1]['nome']
    lista1 = [ide, nome, clube_nome, posicao] 
    atletas_completo.loc[len(atletas_completo)] = lista1

In [35]:
atletas_completo.head()

      ID          Nome      Time  Posição
0  89258        Daniel  Flamengo  Goleiro
1  68873  Paulo Victor  Flamengo  Goleiro
2  79066  Alex Muralha  Flamengo  Goleiro
3  91194        Thiago  Flamengo  Goleiro
4  38109     Jefferson  Botafogo  Goleiro

In [41]:
result_top_10 = pandas.DataFrame(columns =  ["Nome","Time","Posição","Partidas Jogadas", "Soma"])

In [46]:
def atleta_completo(id):
    for row in atletas_completo.iterrows():
        ide=row[1]['ID']
        if ide == id:
            nome = row[1]['Nome']
            clube_nome = row[1]['Time']
            posicao = row[1]['Posição']
            jogos = 0
            for row_scouts in scouts.iterrows():
                if ide == row_scouts[1]['atleta_id']:
                    if row_scouts[1]['participou']== True:
                        jogos = jogos + 1 
                
    return[nome, clube_nome, posicao, jogos]

In [47]:
for row in atletas_2016.iterrows():
    ide=row[1]['id']
    atleta = atleta_completo(ide)
    nome_atleta = atleta[0]
    clube_atleta = atleta[1]
    posicao = atleta[2]
    jogos = atleta[3]
    for row_soma in soma_pontos.iteritems():
        soma = row_soma[1]
        if ide == row_soma[0]:
            list1 = [nome_atleta,clube_atleta,posicao, jogos, soma] 
            result_top_10.loc[len(result_top_10)] = list1

In [48]:
result_top_10.sort_values(by='Soma',ascending=False)[:10]

                 Nome        Time   Posição Partidas Jogadas   Soma
856           Marinho     Vitória  Atacante               27  211.0
29          Vanderlei      Santos   Goleiro               36  189.3
523        Arrascaeta    Cruzeiro      Meia               31  183.7
99              Jorge    Flamengo   Lateral               32  176.7
483       Vitor Bueno      Santos      Meia               33  171.8
951              Keno  Santa Cruz  Atacante               33  169.4
590       Diego Souza       Sport      Meia               33  167.0
441    Gustavo Scarpa  Fluminense      Meia               33  164.3
72             Wilson    Coritiba   Goleiro               37  164.2
120  Wellington Silva  Fluminense   Lateral               31  157.9

In [49]:
result_top_10.sort_values(by='Soma')[:10]

                 Nome           Time   Posição Partidas Jogadas  Soma
550  Guilherme Amorim         Grêmio      Meia                3  -8.8
385       Luan Peres      Santa Cruz  Zagueiro               12  -7.9
64             Agenor          Sport   Goleiro                5  -7.6
721  Wellington Cézar     Santa Cruz      Meia                3  -6.8
486             Elano         Santos      Meia                6  -6.5
315        Alan Costa  Internacional  Zagueiro                5  -6.2
82      Marcelo Boeck    Chapecoense   Goleiro                6  -5.9
21             Vagner      Palmeiras   Goleiro                3  -5.4
243     César Martins       Flamengo  Zagueiro                3  -4.6
643             Elton    Ponte Preta      Meia                6  -4.2

In [50]:
def top10_posicao(data, posicao):
    top = data['Posição'] == posicao
    top10 = data[top].sort_values(by='Soma', ascending=False)[:10]
    return top10

In [51]:
meia = top10_posicao(result_top_10, "Meia")

In [52]:
for row_pos in posicoes.iterrows():
    posicao = row_pos[1]['nome']
    top10 = top10_posicao(result_top_10, posicao)
    print(top10)
    print('*'*80)

                Nome           Time  Posição Partidas Jogadas   Soma
29         Vanderlei         Santos  Goleiro               36  189.3
72            Wilson       Coritiba  Goleiro               37  164.2
2       Alex Muralha       Flamengo  Goleiro               33  153.0
5              Sidão       Botafogo  Goleiro               30  146.1
84            Danilo    Chapecoense  Goleiro               30  130.5
26             Denis      São Paulo  Goleiro               37  126.9
52  Danilo Fernandes  Internacional  Goleiro               27  117.7
65            Magrão          Sport  Goleiro               33  113.9
44     Marcelo Grohe         Grêmio  Goleiro               28  107.8
66          Weverton    Atlético-PR  Goleiro               30  106.2
********************************************************************************
                 Nome           Time  Posição Partidas Jogadas   Soma
99              Jorge       Flamengo  Lateral               32  176.7
120  Wellington Silva     Fluminense  Lateral               31  157.9
112            Fagner    Corinthians  Lateral               33  145.5
171       Diego Renan        Vitória  Lateral               33  138.0
199          Reinaldo    Ponte Preta  Lateral               31  129.8
138     Victor Ferraz         Santos  Lateral               36  128.0
101              Pará       Flamengo  Lateral               27  115.6
105       Victor Luis       Botafogo  Lateral               20  113.6
185               Léo    Atlético-PR  Lateral               30  112.9
163           William  Internacional  Lateral               32  109.3
********************************************************************************
               Nome           Time   Posição Partidas Jogadas   Soma
303   Pedro Geromel         Grêmio  Zagueiro               26  154.0
347         Juninho       Coritiba  Zagueiro               36  144.7
247  Emerson Santos       Botafogo  Zagueiro               28  121.4
242           Réver       Flamengo  Zagueiro               29  118.3
340   Thiago Heleno    Atlético-PR  Zagueiro               33  114.8
360          Thiego    Chapecoense  Zagueiro               32  113.5
273          Maicon      São Paulo  Zagueiro               32  107.1
264      Vitor Hugo      Palmeiras  Zagueiro               35  101.6
312         Ernando  Internacional  Zagueiro               36  101.1
299   Bruno Rodrigo       Cruzeiro  Zagueiro               30   94.2
********************************************************************************
               Nome         Time Posição Partidas Jogadas   Soma
523      Arrascaeta     Cruzeiro    Meia               31  183.7
483     Vitor Bueno       Santos    Meia               33  171.8
590     Diego Souza        Sport    Meia               33  167.0
441  Gustavo Scarpa   Fluminense    Meia               33  164.3
398    Willian Arão     Flamengo    Meia               37  156.2
455          Moisés    Palmeiras    Meia               33  134.6
526        Henrique     Cruzeiro    Meia               31  134.5
468   Thiago Mendes    São Paulo    Meia               32  127.6
624            Juan     Coritiba    Meia               27  125.1
507    Júnior Urso   Atlético-MG    Meia               23  121.9
********************************************************************************
                Nome         Time   Posição Partidas Jogadas   Soma
856          Marinho      Vitória  Atacante               27  211.0
951             Keno   Santa Cruz  Atacante               33  169.4
768    Gabriel Jesus    Palmeiras  Atacante               27  153.3
806          Robinho  Atlético-MG  Atacante               30  147.4
773             Dudu    Palmeiras  Atacante               33  142.4
900  William Pottker  Ponte Preta  Atacante               30  141.2
804             Fred  Atlético-MG  Atacante               33  141.0
798           Copete       Santos  Atacante               25  124.9
866          Rogério        Sport  Atacante               30  118.6
783            Cueva    São Paulo  Atacante               24  117.4
********************************************************************************
                    Nome         Time  Posição Partidas Jogadas    Soma
954           Zé Ricardo     Flamengo  Técnico               35  150.98
968       Dorival Júnior       Santos  Técnico               38  148.83
963                 Cuca    Palmeiras  Técnico               38  139.92
969     Marcelo Oliveira  Atlético-MG  Técnico               35  136.43
965        Ricardo Gomes    São Paulo  Técnico               34  115.57
982        Paulo Autuori  Atlético-PR  Técnico               38  113.43
961          Levir Culpi   Fluminense  Técnico               32  111.41
959  Oswaldo de Oliveira  Corinthians  Técnico               38  107.13
979          Argel Fucks      Vitória  Técnico               34  106.46
986     Eduardo Baptista  Ponte Preta  Técnico               36   99.18
********************************************************************************